@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/source-code-pro/EOT/SourceCodePro-Regular.eot') format('embedded-opentype'),
         url('../fonts/source-code-pro/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
         url('../fonts/source-code-pro/WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
         url('../fonts/source-code-pro/OTF/SourceCodePro-Regular.otf') format('opentype'),
         url('../fonts/source-code-pro/TTF/SourceCodePro-Regular.ttf') format('truetype');
}

body {
  background-color: lightblue;
}

.container {
  margin-top: 8vh;
  margin-bottom: 8vh;
}

button {
  min-width: 8vh;
  letter-spacing: 0.1em;
}

.height_1{
    height: 1vh;
}

pre,button{
    font-family:'Source Code Pro';
}
